// main: ../main.less

@black: #000000;
@darkBlue: #7094a6; // header menu color
@mainBlue: #7ca5b8; // header
@mediumBlue: #bdd2db; // settings menu
@lightBlue: #d7e4e9; // border colors
@extraLightBlue: #e4edf0; // bottom of list items
@white: #fbfbf2;

/* notification colors */
@notification-text: white;
@notificaion-success: green;
@notification-warn: orange;
@notification-error: red;

/* loader colors */
@loader-background: rgba(0,0,0,0.25);
@loader-top: #EF4836;
@loader-middle: #3498DB;
@loader-bottom: #F5AB35;