// main: ../main.less

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.hidden {
    display: none !important;
}

#app {
    position: relative;
    display: none;
    grid-template-rows: 5em auto;
    grid-template-columns: 30em auto;
    grid-template-areas: "header header" "menu pages";
    width: 100vw;
    height: 100vh;

    &.active {
        display: grid;
    }

    #header {
        grid-area: header;
    }

    #menu {
        grid-area: menu;
    }

    #pages {
        grid-area: pages;
        max-width: 100%;
        overflow-y: scroll;

        .page {
            position: relative;
            display: none;
            width: 100%;
            height: 100%;

            &.active {
                display: grid;
            }
        }
    }
}