// main: ../../main.less

#dialog {
    position: fixed;
    display: none;
    width: 100vw;
    height: auto;
    top: 0;
    padding: 0.5em 1em;
    background: @notificaion-success;
    color: @notification-text;
    font-size: 2em;
    text-align: center;
    z-index: 100;

    &.active {
        display: block; 
    }

    &.warn {
        background: @notification-warn;
    }

    &.error {
        background: @notification-error;
    }
}