// main: ../../main.less

#loader {
    position: absolute;
    display: none;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: @loader-background;
    z-index: 100;

    &.active {
        display: grid;
    }

    span {
        @time: 1.8s;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 10px;
        background: @loader-middle;
        border-radius: 5px;
        animation: load @time ease-in-out infinite;

        &:before, &:after {
            position: absolute; 
            display: block;
            content: "";
            animation: load @time ease-in-out infinite;
            height: 10px;
            border-radius: 5px;
        }
            &:before {
            top: -20px;
            left: 10px;
            width: 40px;
            background: @loader-top;
        }
        &:after {
            bottom: -20px;
            width: 35px;
            background: @loader-bottom; 
        }
        }

        @keyframes load {
        0% {
            transform: translateX(40px);
        }
        
        50% {
            transform: translateX(-30px);
        }
        100% {
            transform: translateX(40px);
        }
    }
}